.nokia {
  height: 100vh;
  width: 100vw;
  background-size: 800px 1600px;
  background-repeat: no-repeat;
  background-position: center 0px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/31/Nokia_3310_blue.jpg');
  position: relative;
}

.gameboard {
  position: absolute;
  background-image: url('http://localhost:3000/background-pattern.png');
  top: 440px;
  left: calc(50% - 160px);
}